.App  {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: "Fira Sans", sans-serif;
}

.App .new_todo_form {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.App .new_todo_form input {
    outline: none;
    border: 1px solid hsl(200, 50%, 50%);
    border-radius: 5px;
    min-height: 30px;
    width: 300px;
    padding: 0 1%;
    margin: 1%;
}

.App .new_todo_form input:hover, .App .new_todo_form input:focus {
    box-shadow: 0 0 10px -1px hsla(0, 0%, 0%, .55);
    transition: ease-out 0.1s;
}

.App .new_todo_form button {
    background: none;
    outline: none;
    border: 1px solid hsl(200, 50%, 50%);
    border-radius: 5px;
    min-height: 30px;
    width: 150px;
}

.App .new_todo_form button:hover {
    cursor: pointer;
}

.App .to_do_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid hsla(200, 50%, 50%, 0.55);
    width: 50%;
}

.App .to_do_header {
    width: 100%;
    background-color: hsl(200, 50%, 50%);
    display: grid;
    grid-template-columns: 82% 60%;
    border-bottom: 1px solid hsl(200, 50%, 50%);
}

.App .to_do_header p, .App .to_do_header button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    color: hsl(255, 100%, 100%);
}

.App .to_do_header p {
    font-size: 20px;
}

.App .to_do_header button {
    cursor: pointer;
    position: relative;
    right: 0;
    width: 10%;
    outline: none;
    background: none;
    border: none;
    color: hsl(255, 100%, 100%);
    font-weight: 700;
    font-size: 25px;
}

.App .to_do_body {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
}

.App .to_do_body .to_do {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsla(200, 50%, 50%, 0.55);;
    font-weight: 700;
    color: hsl(0, 0%, 0%);
    padding: 1% 0;
}

.App .to_do_body .to_do div:first-child {
    width: 70%;
    height: 100%;
    border-right: 1px solid hsla(200, 50%, 50%, 0.55);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1%;
    font-weight: 700;
}

.App .to_do_body .to_do div {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.App .to_do_body .to_do div button {
    background-color: hsl(255, 100%, 100%);
    color: hsl(0, 0%, 0%);
    font-weight: 700;
    outline: none;
    border-radius: 5px;
    width: 35%;
    padding: 1% 3%;
}

.App .to_do_body .to_do div button:hover {
    cursor: pointer;
}

.edit_modal {
    width: 50%;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    z-index: 1000;
}

.edit_modal .arrow-left-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1% 2%;
    font-size: 30px;
    color: hsl(200, 50%, 50%);
}

.add-update-todo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-update-todo input {
    margin: 2%;
    height: 10%;
    padding: 0 1%;
    width: 300px;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid hsl(200, 50%, 50%);
    outline: none;
    font-size: 20px;
}

.add-update-todo input:focus, .add-update-todo input:hover {
    -webkit-box-shadow: 0 5px 6px -4px hsla(0, 0%, 0%, .55);
    -moz-box-shadow: 0 5px 6px -4px hsla(0, 0%, 0%, .55);
    box-shadow: 0 5px 6px -4px hsla(0, 0%, 0%, .55);
    transition: ease-out 0.1s;
}

.add-update-todo input::placeholder {
    font-size: 20px;
}

.add-update-todo button {
    background: none;
    border: 3px solid hsl(200, 50%, 50%);
    border-radius: 5px;
    outline: none;
    width: 150px;
    font-size: 20px;
    margin: 2%;
    padding: 0 1%;
}

.add-update-todo button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 1px 8px 0 hsla(0, 0%, 0%, .55);
    -moz-box-shadow: 0 1px 8px 0 hsla(0, 0%, 0%, .55);
    box-shadow: 0 1px 8px 0 hsla(0, 0%, 0%, .55);
    transition: ease-out 0.1s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}